@import "tailwindcss";

/* Background for banner section */
/* .banner-image {
 background: linear-gradient(135deg, rgb(223,20,20) 0%, rgb(223,20,20) 100%);
 background-color: transparent;
} */
/* .banner-image {
  background: linear-gradient(
    135deg,
    #E91414 0%,
    #C81010 100%
  );
} */
 .banner-image {
  background: linear-gradient(135deg, #E91414 0%, #C81010 100%);
}

